.profile {
    margin: 0 0 10px 0;
    padding: 0px;
}

.logoutBtn {
    position: sticky;
    bottom: 0;
    height: 3em;
    width: 6em;
}

/* .wrapUpcoming {
    display: flex;
    flex-wrap: wrap;
} */